#body{
    height: 877px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(#37D5D6,#36096D);
}
#rock{
    width: 10%;
    margin-left: 420px;
}

.paper-scissor{
    display: flex;
    gap: 30%;
}
#Scissor{
    width: 10%;
}
#Paper{
    width: 9%;
    margin-left: 800px;
}

.class{
  gap: 200px;  
}

#icons{
   margin-top: 5%; 
}

#heading{
    text-align: center;
    font-size: 50px ;
}

#button{
    margin-left: 800px;
    width: 8%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

#buttoncontainer{
    padding-top: 3%;
}

@media screen and (min-width:375px) and (max-width:667px){
    #rock{
        width: 25%;
         margin-left: 50px;
    }
    
    #Scissor{
        width: 20%;
        margin-left: 140px;
    }

    .paper-scissor{
        display: flex;
        gap: 30px;
    }
    #Paper{
        width: 30px;
        margin-left: 130px;  
        margin-top: 20%;  
    }

    #heading{
        text-align: center;
        font-size: 40px ;
        margin-bottom: 90px;
        margin-top: 160px;
    }

    #button{
        margin-left: 130px;
        width: 40%;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
    }

    .paper-scissor{
        display: flex;
        gap: 30px;
    }

    #icons{
        padding-top: 20%; 
        gap: 5%;
     }     
}

@media screen and (min-width:360px) and (max-width:740px) {
    #rock{
        width: 20%;
         margin-left: 50px;
    }

    .paper-scissor{
        display: flex;
        gap: 30px;
    }
    
    #Scissor{
        width: 15%;
        margin-left: 140px;
    }
    #Paper img{
        width: 30px;
        margin-left: 130px;    
    }

    #heading{
        text-align: center;
        font-size: 40px ;
        margin-bottom: 90px;
        margin-top: 160px;
    }

    #button{
        margin-left: 130px;
        width: 40%;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
    }

    #icons{
        padding-top: 20%; 
        gap: 5%;
     } 

     #body{
        height: 720px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    #rock{
        width: 30%;
         margin-left: 50px;
    }
    
    #Scissor{
        width: 24%;
        margin-left: 250px;
    }
    .paper-scissor{
        display: flex;
        gap: 30px;
    }
    #Paper{
        width: 30%;
        margin-left: 270px;    
    }

    #heading{
        text-align: center;
        font-size: 80px;
        margin-bottom: 90px;
        margin-top: 110px;
    }

    #button{
        margin-left: 240px;
        width: 40%;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
    }

    #icons{
        padding-top: 20%; 
        /* gap: 5%; */
     } 

     #body{
        height: 1005px;
    }
}

@media screen and (min-width:540px) and (max-width:720px){
    #rock{
        width: 25%;
         margin-left: 50px;
    }
    
    #Scissor{
        width: 20%;
        margin-left: 250px;
    }
    #Paper{
        width: 30%;
        margin-left: 270px;    
    }
    .paper-scissor{
        display: flex;
        gap: 30px;
    }

    #heading{
        text-align: center;
        font-size: 40px;
        margin-bottom: 90px;
        margin-top: 110px;
    }

    #button{
        margin-left: 240px;
        width: 40%;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
    }

    #icons{
        padding-top: 20%; 
        /* gap: 5%; */
     } 

     #body{
        height: 900px;
    }
}

@media screen and (min-width:280px) and (max-width:653px) {
    #rock{
        width: 15%;
         margin-left: 20px;
    }
    
    #Scissor{
        width: 15%;
        margin-left: 80px;
    }
    #Paper{
        width: 40px;
        margin-left: 120px;    
    }

    #heading{
        margin-right: 22px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 90px;
        margin-top: 110px;
    }
    .paper-scissor{
        display: flex;
        gap: 30px;
        margin-left: 15px;
    }

    #button{
        margin-top: 80px;
        margin-left: 90px;
        width: 40%;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
    }

    #icons{
        padding-top: 20%; 
        /* gap: 5%; */
     } 

    #body{
            margin-bottom: 10px;
            height: 674px;
            background-repeat: no-repeat;
            background-size: 130% 100%;
            background-image: linear-gradient(#37D5D6,#36096D);
        }
    }
    


