*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 960px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(#37D5D6,#36096D);
}
h1{
    font-family: sans-serif;
    font-weight: 800;
    margin: 15px 0;
    color: white;
}
.container{
    display: flex;
}
.container .section{
    width: 500px;
    margin: 20px 50px;
}
.section .info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    

}

.info span , .info h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: black;
}
.show{
    align-items: center;
    justify-content: center;
    background : white;
    height: 300px;
    border: 2px;
    border-color:rgb(245, 198, 141);
}
.show i{
    align-items: center;
    margin-left: 190px;
    margin-top: 80px;
    font-size: 100px;
    color: rgb(245, 198, 141);
    margin-top: 20px;
}
.section{
    border:rgb(245, 198, 141) 10px solid;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    color: white;
}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 120px;
}

.selection button{
    margin: 0 20px;
    padding: 25px;
    border-radius: 50%;
    margin-top: 70px;
    border:rgb(245, 198, 141) 10px solid;
    outline: none;
    cursor: pointer;
    background : white;
    font-size: 80px;
    color: rgb(245, 198, 141);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width:280px) and (max-width:667px){
     .container{
        display: grid;
    }

    .selection button{
        margin: 0 20px;
        padding: 25px;
        border-radius: 50%;
        margin-top: 70px;
        border: none;
        outline: none;
        cursor: pointer;
        background : white;
        font-size: 45px;
        color: rgb(245, 198, 141);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container .section{
        width: 200px;
        margin: 20px 0px;
    }

    body{
        margin-top: 0px;
        /* min-height: 0vh; */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        height: 0px;
        /* background-repeat: no-repeat; */
        /* background-size: 100% 90%; */
        background-image: linear-gradient(#37D5D6,#36096D);
    }

    .show i{
       
        margin-left: 56px;
        margin-bottom: 100px;
        font-size: 50px;
        color: rgb(245, 198, 141);
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        
    } 
    .selection{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 10px;
    }
    .show{
        align-items: center;
        justify-content: center;
        background : white;
        height: 150px;
        border: 2px;
        border-color:rgb(245, 198, 141);
    }
}

@media screen and (min-width:668px) and (max-width:867px){
    .container{
       display: grid;
   }

   .selection button{
       margin: 0 20px;
       padding: 25px;
       border-radius: 50%;
       margin-top: 70px;
       border: none;
       outline: none;
       cursor: pointer;
       background : white;
       font-size: 45px;
       color: rgb(245, 198, 141);
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .container .section{
       width: 400px;
       margin: 20px 0px;
   }

   body{
       margin-top: 0px;
       /* min-height: 100vh; */
       /* display: flex; */
       /* flex-direction: column; */
       /* align-items: center; */
       height: 0px;
       /* background-repeat: no-repeat; */
       /* background-size: 100% 90%; */
       background-image: linear-gradient(#37D5D6,#36096D);
   }

   .show i{
      
       margin-left: 56px;
       margin-bottom: 100px;
       font-size: 50px;
       color: rgb(245, 198, 141);
       margin-top: 20px;
       align-items: center;
       justify-content: center;
       
   } 
   .selection{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 300px;
       height: 100px;
   }
   .show{
       align-items: center;
       justify-content: center;
       background : white;
       height: 400px;
       border: 2px;
       border-color:rgb(245, 198, 141);
   }
}


@media screen and (min-width:868px) and (max-width:1160px){
    .container{
       display: flex;
       gap: 100px;
   }

   .selection button{
       margin: 0 20px;
       padding: 25px;
       border-radius: 50%;
       margin-top: 70px;
       border: none;
       outline: none;
       cursor: pointer;
       background : white;
       font-size: 45px;
       color: rgb(245, 198, 141);
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .container .section{
       width: 400px;
       margin: 20px 0px;
   }

   body{
       margin-top: 0px;
       /* min-height: 100vh; */
       /* display: flex; */
       /* flex-direction: column; */
       /* align-items: center; */
       height: 0px;
       /* background-repeat: no-repeat; */
       /* background-size: 100% 90%; */
       background-image: linear-gradient(#37D5D6,#36096D);
   }

   .show i{
       margin-bottom: 100px;
       font-size: 150px;
       color: rgb(245, 198, 141);
       margin-top: 60px;
       align-items: center;
       justify-content: center;
       margin-left: 120px;
       
   } 
   .selection{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 80px;
       height: 200px;
   }
   .show{
       align-items: center;
       justify-content: center;
       background : white;
       height: 350px;
       border: 2px;
       border-color:rgb(245, 198, 141);
   }
   h2{
  padding-top: 30px;
    font-size: 30px;
   }
}

@media screen and (min-width:1161px) and (max-width:1400px){
    .container{
       display: flex;
       gap: 100px;
   }

   .selection button{
       margin: 0 20px;
       padding: 25px;
       border-radius: 50%;
       margin-top: 70px;
       border: none;
       outline: none;
       cursor: pointer;
       background : white;
       font-size: 45px;
       color: rgb(245, 198, 141);
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .container .section{
       width: 400px;
       margin: 20px 0px;
   }

   body{
       margin-top: 0px;
       /* min-height: 100vh; */
       /* display: flex; */
       /* flex-direction: column; */
       /* align-items: center; */
       height: 0px;
       /* background-repeat: no-repeat; */
       /* background-size: 100% 90%; */
       background-image: linear-gradient(#37D5D6,#36096D);
   }

   .show i{
       margin-bottom: 100px;
       font-size: 150px;
       color: rgb(245, 198, 141);
       margin-top: 60px;
       align-items: center;
       justify-content: center;
       margin-left: 120px;
       
   } 
   .selection{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 80px;
       height: 200px;
   }
   .show{
       align-items: center;
       justify-content: center;
       background : white;
       height: 350px;
       border: 2px;
       border-color:rgb(245, 198, 141);
   }
   h2{
  padding-top: 30px;
    font-size: 30px;
   }
}

